
body {
    font-family: arial,sans-serif;
    margin-top: 20px;  
}


/* header bölümündeki butonların özelliklerini değiştirdim ustbuton adlı class içinde  */

.ustbuton {
display: inline-block;
padding-left: 15px;
color: #000;
opacity: 0.75;
font-size: 13px;
text-decoration: none;
float: left;
}

/* text-decoration none yaparak yazının altındaki çizgileri kaldırdım. Ama ben mous ile yazıya geldiğinde hem yazının rengi değişsin hem de altında "link" çizgisi eklensin istiyorum, bunun içinde .ustbuton:hover bölümünde gerekli kodları yazdım  */



.ustbuton:hover {
    color: red;
    text-decoration: underline;
}

/* hover kodu ile butona geldiğinizde buton kırmızı renk yanar  */

.ustsagbuton:hover {
    color: red;
    text-decoration: underline;
}

/* .alikartal:hover{
    background-color: blue;
}

.alikartal {
border:thick double #32a1ce;
}

.alikartal:active {
    position: relative;
    top: 5px;
} */

/* ödev de yazıldığı üzere resmimi ekledim ama "isteğe göre css kodlarını uygulayabilirsiniz" maddesinden yola çıkarak ismime hover arka plan çerçevesi ekledim, active ile de buton gibi üzerine tıkladığınızda hareket ediyor  */

.ustsagbuton {
    /* margin-left: 1500px; */
    /* text-align: center; */
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    /* opacity: 0.75; */
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding-left: 15px;
}

.deneme {
    text-align: right;
}

.appbuton{
    background-position: -132px -38px;
    opacity: .55;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;    
    white-space: nowrap;
    display: inline-block;
    outline: none;
    /* vertical-align: middle; */
    box-sizing: border-box;
}

.imza{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    display: inline-block;
    /* line-height: 28px; */
    padding: 3px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border-radius: 2px;
    /* border-radius ile sign-in kutusunun çizgilerini biraz yumuşattım  */
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.googlelogo {
    padding-top: 109px;
    text-align: center;
    list-style-position: inside;
}

.aramakutusu {
    text-align: center;
    padding-top: 50px;
    padding-right: 480px;
    padding-top: 30px;
    margin: 0;
    /* list-style-position: inside; */
    border-radius: 30px;
    color: rgba(0,0,0,.87)
    /* background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important; */
}


