
body {
    font-family: arial,sans-serif;
    margin-top: 20px;  
}


/* header bölümündeki butonların özelliklerini değiştirdim ustbuton adlı class içinde  */

.ustbuton {
/* display: inline-block; */
padding-left: 15px;
color: #000;
opacity: 0.75;
font-size: 13px;
text-decoration: none;
float: left;
}

/* text-decoration none yaparak yazının altındaki çizgileri kaldırdım. Ama ben mous ile yazıya geldiğinde hem yazının rengi değişsin hem de altında "link" çizgisi eklensin istiyorum, bunun içinde .ustbuton:hover bölümünde gerekli kodları yazdım  */



.ustbuton:hover {
    color: red;
    text-decoration: underline;
}

/* hover kodu ile butona geldiğinizde buton kırmızı renk yanar  */

.ustsagbuton:hover {
    color: red;
    text-decoration: underline;
}

/* .alikartal:hover{
    background-color: blue;
}

.alikartal {
border:thick double #32a1ce;
}

.alikartal:active {
    position: relative;
    top: 5px;
} */

/* ödev de yazıldığı üzere resmimi ekledim ama "isteğe göre css kodlarını uygulayabilirsiniz" maddesinden yola çıkarak ismime hover arka plan çerçevesi ekledim, active ile de buton gibi üzerine tıkladığınızda hareket ediyor  */

.ustsagbuton {
    /* margin-left: 1500px; */
    /* text-align: center; */
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    /* opacity: 0.75; */
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding-left: 15px;
}

.deneme {
    text-align: right;
}

.appbuton{
    background-position: -132px -38px;
    opacity: .55;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;    
    white-space: nowrap;
    display: inline-block;
    outline: none;
    /* vertical-align: middle; */
    box-sizing: border-box;
}

.imza{
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    display: inline-block;
    /* line-height: 28px; */
    padding: 3px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    border-radius: 2px;
    /* border-radius ile sign-in kutusunun çizgilerini biraz yumuşattım  */
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.googlelogo {
    padding-top: 109px;
    text-align: center;
}

.aramakutusu {
    outline: none; 
    font: 16px arial,sans-serif;
    line-height: 34px;
    color: rgba(0,0,0,.87);
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: transparent;
    margin: 0;
    word-wrap: break-word;      
    margin-top: 10px;
}

input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border: solid 1px;
    border-radius: 30px;
    border-color: rgb(198, 198, 201);
    width: 600px;
}

/* width 600px yaparak arama cubugunu uzattım ve bunu input parantezi içinde yazdım. Bu arada border solid ile kenar çizgileri incelttim, radius ile de keskin dikdörtgen çizgileri yumuşattım. */

.cubuk {
    text-align: center;
} 

input:hover{
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.52);

}

/* input'a hover kodu ekleyerek mous ile çubuga geldiğinizde gölge efekti ekledim */


.mikrofon {
    background: url(https://web.archive.org/web/20191130234759im_/https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
}
